apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-green
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp
      color: green
  template:
    metadata:
      labels:
        app: webapp
        color: green
    spec:
      containers:
      - name: webapp
        image: nginx:latest
        ports:
        - containerPort: 80
